<div class="page-header">
<h1>Be a mentor</h1>
</div>
<%= simple_form_for @availability do |f| %>
  <%= f.fields_for f.object.build_mentor do |mf| %>
    <%=mf.input :first_name %>
    <%=mf.input :last_name %>
    <%=mf.input :twitter_handle %>
    <%=mf.input :email %>
  <% end %>
  <%=f.input :start_time, :as => :ui_date_time_picker %>
  <%=f.input :duration, :label => "Duration (in minutes)" %>
  <%=f.input :timezone, :as => :time_zone, :priority => /US/ %>
  <%=f.input :location %>
  <%=f.submit :class => "btn btn-primary" %>
<% end %>