<!DOCTYPE html>
<html>
<head>
  <title>MentorPairing</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="navigation navbar-fixed-top">
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <a class="brand" href="/"><%=image_tag 'caring.png' %>Paring Is Caring</a>
            <ul class="nav nav-tabs">
              <li ><%= link_to "Availabilities", availabilities_path %>
              </li>
              <li><%= link_to "Offer to mentor someone", new_availability_path %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
    <% if flash[:notice].present? %>
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
